FOOTBALL_DATA_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=https://cwrmjemnwoqvbqszfash.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_PORRA_SESSION_SALT=mundial2026
PORRA_SESSION_SECRET=mundial2026
SUPABASE_SERVICE_ROLE_KEY=
